/* Left column */
.left-column {
  float: left;
  width: 75%;
}

/* Right column */
.right-column {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  margin-top: 20px;
  margin-left: 15%;
  padding:20px
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .left-column,
  .right-column {
    width: 100%;
    padding: 0;
  }
}
